[mysqld]
default_storage_engine=InnoDB
binlog_format=ROW
innodb_autoinc_lock_mode=2

wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name="galera_cluster"
wsrep_cluster_address="gcomm://galera1,galera2,galera3"

wsrep_sst_method=rsync
wsrep_sst_auth=sstuser:root

bind-address=0.0.0.0
